
/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Api(value = "${className}管理相关接口}")
@RestController
@RequestMapping("/${classname}/")
public class ${className}Controller {

    @Resource
    private ${className}Service ${classname}Service;

    @ApiOperation(value = "添加")
    @PostMapping(value = "/save")
    public ResponseVo<Boolean> save(@RequestBody @Valid ${className}SaveCmd saveCmd) {
    }

    @ApiOperation(value = "编辑")
    @PostMapping(value = "/update")
    public ResponseVo<Boolean> update(@RequestBody @Valid ${className}UpdateCmd updateCmd) {
    }

    @ApiOperation(value = "删除")
    @PostMapping(value = "/delete")
    public ResponseVo<Boolean> delete(@RequestBody @Valid ${className}ByIdCmd deleteCmd) {
    }


    @ApiOperation(value = "查询详情")
    @PostMapping(value = "/detail")
    public ResponseVo<${className}DetailResponse> detail(@RequestBody @Valid ${className}DetailQry detailQry) {


    }

    @ApiOperation(value = "查询列表")
    @PostMapping(value = "/page")
    public ResponseVo<PageModel<${className}BaseInfoResponse>> page(@RequestBody ${className}PageQry pageQry) {
    }

}
