package ${package}.mapper;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.github.pagehelper.Page;
import org.apache.ibatis.annotations.Param;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */

public interface ${className}Mapper extends BaseMapper<${className}> {

    Page<${className}> page${className}(@Param("qry")${className}Qry Qry);

}
