package ${package}.repository;
import ${package}.entity.${className};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.github.pagehelper.Page;
import org.apache.ibatis.annotations.Param;
import ${package}.common.vo.request.${className}PageRequest;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */

@Repository
public interface ${className}Repository  extends ServiceImpl<${className}Mapper,${className}> {

    Page<${className}> page${className}(@Param("qry")${className}Qry Qry);

}
